<%= form_for(@chat) do |f| %>
  <% if @chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h2>

      <ul>
      <% @chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
  <%= f.collection_select(:user_post, User.order(:fio3, 'name ASC'), :id, :fio, prompt: true ) %><br>
    
  </div>
  <div class="field">
  <%= f.collection_select(:user_rev, User.order(:fio3, 'name ASC'), :id, :fio, prompt: true ) %><br>
  
  </div>
  <div class="field">
    <%= f.label :post_read %><br>
    <%= f.check_box :post_read %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
