<h1>Список чатов</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
      <th>User post</th>
      <th>User rev</th>
      <th>Post read</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.content %><br>
<small><%= chat.updated_at.strftime('%H:%M %d.%m.%Y')%></small>
        <b class="text-info"><%= User.find(chat.user_post).fio %></b>
        
        </td>

        <td><%= chat.user_rev %></td>
        <td><%= chat.post_read %></td>
        <td><%= link_to 'Show', chat %></td>
        <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
        <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat', new_chat_path %>

